[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/constant-cockles"]
	path = .themes/constant-cockles
	url = git://github.com/octothemes/constant-cockles.git
[submodule ".themes/octoflat"]
	path = .themes/octoflat
	url = https://github.com/alexgaribay/octoflat
