body > footer {
  @extend .sans;
  font-size: .8em;
<<<<<<< HEAD
  color: $white;
  background-color: $darkBrick;
=======
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  @include background($footer-bg-front, $footer-bg-back);
  border-top: 1px solid $footer-border-top;
>>>>>>> 6a276d15bdaa48cef520e4158526f2c4b16cbaaf
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
<<<<<<< HEAD
  z-index: 1;
  p:last-child { margin-bottom: 0; }
  a:hover {
    color: $lightBrick;
  }
=======
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
>>>>>>> 6a276d15bdaa48cef520e4158526f2c4b16cbaaf
}
